html {
  scroll-behavior: smooth;
}

body {
  background-color: $main-background-color;
  color: $primery-text-color;
  font-family: $main-font-family;
  font-weight: 400;
  font-size: $main-font-size;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.rewiews {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
