.feature {
  @extend %list;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }

  &__thumb {
    background-color: $alternate-background-color;

    @include centeredFlex;
    height: 120px;
    margin-bottom: 30px;
  }

  &__title {
    color: $title-text-color;
    text-align: center;
    @extend %uppercase-title;
    margin-bottom: 10px;
  }

  &__item {
    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      width: calc((100% / 2) - 60px);
      flex-grow: 1;
      margin: 15px;
    }

    @media screen and (min-width: $desktop) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__icon {
    @extend %icon;
  }
}
