.feature {
  // display: flex;
  @extend %list;

  &__thumb {
    background-color: $alternate-background-color;

    @include centeredFlex;
    height: 120px;
    margin-bottom: 30px;
  }

  &__title {
    color: $title-text-color;
    text-align: center;
    @extend %uppercase-title;
    margin-bottom: 10px;
  }

  &__item {
    margin-bottom: 30px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    @extend %icon;
  }
}
