.header {
  // @include centeredFlex();
  min-height: 60px;
  border-bottom: 1px solid $header-border-color;

  &__container {
    // @include centeredFlex();
  }

  &__nav {
    // display: flex;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }
}
