.hero {
  @extend %centeredMargin;
  background-color: $hero-background-color;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  min-width: 480px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: $hero-bg-gradient, url("../../images/Hero-mobile.jpg");

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $hero-bg-gradient, url("../../images/Hero-mobile@2x.jpg");
  }

  @media screen and (min-width: $tablet) {
    background-image: $hero-bg-gradient, url("../../images/Hero-tablet.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $hero-bg-gradient,
        url("../../images/Hero-tablet@2x.jpg");
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: $hero-bg-gradient, url("../../images/Hero-desktop.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $hero-bg-gradient,
        url("../../images/Hero-desktop@2x.jpg");
    }
  }
}

.hero__title {
  color: $white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto 30px;
}

.hero__button {
  @extend %button;
  padding: 10px 32px;

  &:hover,
  &:focus {
    background-color: $hover-focus-btn;
  }
}
