.menu {
  &__container {
    background-color: $main-background-color;

    @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 48px 40px;
      z-index: 1;
    }

    @media screen and (min-width: $tablet) {
      @include centeredFlex;
    }

    &.is-open {
      display: block;

      @media screen and (min-width: $tablet) {
        display: none;
      }
    }
  }

  &__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
}
.menu__button .icon-cross {
  display: none;
}

.menu__button.is-open .icon-cross {
  display: block;
}

.menu__button.is-open .icon-menu {
  display: none;
}
