.form {
  &__field {
    position: relative;

    &:focus-within .form__icon {
      fill: $accent-color;
      transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 11px 40px;
  border: 1px solid $form-border-color;
  border-radius: 4px;
  cursor: pointer;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: 1px solid $accent-color;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: $title-text-color;
}

.form__textarea {
  min-height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
