.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 30px;
  }
}

.section--no-top-padding {
  padding-top: 0;
}

.section--no-bottom-padding {
  padding-bottom: 0;
}
